<ul class="list-group">
    <li class="list-group-item" ng-repeat="product in cart track by $index" >
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
                <p>Name: {{product.name}}</p>
                <p>Quantity: {{product.quantity}}</p>
                <p>Price: {{product.price}}</p>
            </div>
            <div class="col-md-4">
                <img align="left" class="cartImage" ng-src="{{product.imageUrl}}">
            </div>
        </div>
    </li>
    <div class="row">
        <div class="col-md-4">
        </div>
            <div class="col-md-2">
                <p align="left">Total Sum: {{totalSum}}kr</p>
                <button class="btn btn-success" ng-click="checkout()">Checkout</button>
                <button class="btn btn-success" ng-click="emptyCart()">Empty Cart</button>
                {{orderText}}
            </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="col-md-4">
    </div>
</ul>